*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 10px;
    background-color: #9500ff68;
    color: white;
}

.atwit{
    background-color: rgba(50, 0, 121, 0.455);  
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: auto;
    border-radius: 10px;
    color: white;
}

.likes{
    color: black;
}

.chapakay{
    display: flex;
    width: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col10{
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px){

    .atwit{
        text-align: center;
        /* display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; */
    }

    .twitbody{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .profile{
        display: flex;
        flex-direction: column-reverse;
    }

}